body{
    background-image: url(goat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(38, 58, 100);
    margin-left: 500px;
}

p{
    color: black;
    margin-left: 20px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.kotak {
    padding: 30px;
    width: 300px;
    height: 200px;
    color: black;
    margin-left: 500px;
    background: darkturquoise;
}

#persegi{
    padding: 20px;
    width: 300px;
    height: 300px;
    color: black;
    margin-left: 500px;
    margin-top: 200px;
    background: rgb(73, 245, 188);
}